{
  "Sources": {
    "Evergine Stable": "https://everginestudio.blob.core.windows.net/stable",
    "https://everginestudio.blob.core.windows.net/nightly": "Evergine Nightly",
    "Evergine Nightly": "https://everginestudio.blob.core.windows.net/nightly",
    "https://everginestudio.blob.core.windows.net/preview": "Evergine Preview"
  }
}